<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mastering Thymeleaf with Spring Boot</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<section class="hero  is-info">
  <div class="hero-body">
    <p class="title">Spring Framework Guru</p>
    <p class="subtitle">Online Courses for Spring Framework</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Spring Framework Guru Courses</h1>

    <div class="columns">
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Introduction to Spring</p>
              <div class="content">Introductory Course for the Spring Framework</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">John Thompson</a>
              <a href="#" class="card-footer-item">Free</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core</p>
              <div class="content">The fundamentals of Spring Framework</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">John Thompson</a>
              <a href="#" class="card-footer-item">$99</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Advanced</p>
              <div class="content">Advanced Topics of Spring Core</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">John Thompson</a>
              <a href="#" class="card-footer-item">$99</a>
            </footer>
          </div>
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Dev Ops</p>
              <div class="content">Managing and Deploying Spring Applications in the Enterprise</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">John Thompson</a>
              <a href="#" class="card-footer-item">$15</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Ultimate</p>
              <div class="content">The Ultimate Bundle of my Spring Courses</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">5 Courses Bundle</a>
              <a href="#" class="card-footer-item">$147</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    alt="Placeholder image"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Thymeleaf</p>
              <div class="content">Rocking out Thymeleaf with Spring</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">John Thompson</a>
              <a href="#" class="card-footer-item">$15</a>
            </footer>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
