<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mastering Thymeleaf with Spring Boot</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        data-th-href="@{/css/bulma.min.css}"
  >
</head>

<body>
<section class="hero is-info">
  <div class="hero-body">
    <a href="/" data-th-href="@{/}">
      <p class="title">Spring Framework Guru</p>
    </a>
    <p class="subtitle">Online Courses for Spring Framework</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Spring Framework Guru Courses</h1>

    <div class="columns">
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/SpringIntroThumb.png}"
                    alt="Spring Intro image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Introduction to Spring</p>
              <div class="content">Introductory Course for the Spring Framework</div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-32x32">
                  <img class="is-rounded"
                       src="https://bulma.io/assets/images/placeholders/48x48.png"
                       data-th-src="@{/img/instructor_jt.jpg}"
                       alt="Instructor John Thompson"
                  />
                </figure>
                <a href="https://twitter.com/serge_a_storms" class="ml-2">John Thompson</a>
              </div>
              <a href="#" class="card-footer-item">Free</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/SpringCoreThumb.png}"
                    alt="Spring Core image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core</p>
              <div class="content">The fundamentals of Spring Framework</div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-32x32">
                  <img class="is-rounded"
                       src="https://bulma.io/assets/images/placeholders/48x48.png"
                       data-th-src="@{/img/instructor_jt.jpg}"
                       alt="Instructor John Thompson"
                  />
                </figure>
                <a href="https://twitter.com/serge_a_storms" class="ml-2">John Thompson</a>
              </div>
              <a href="#" class="card-footer-item">$99</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/SpringCoreAdvancedThumb.png}"
                    alt="Spring Core Advance image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Advanced</p>
              <div class="content">Advanced Topics of Spring Core</div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-32x32">
                  <img class="is-rounded"
                       src="https://bulma.io/assets/images/placeholders/48x48.png"
                       data-th-src="@{/img/instructor_jt.jpg}"
                       alt="Instructor John Thompson"
                  />
                </figure>
                <a href="https://twitter.com/serge_a_storms" class="ml-2">John Thompson</a>
              </div>
              <a href="#" class="card-footer-item">$99</a>
            </footer>
          </div>
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/SpringCoreDevOpsThumb.png}"
                    alt="Spring Core Dev Ops image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Dev Ops</p>
              <div class="content">Managing and Deploying Spring Applications in the Enterprise
              </div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-32x32">
                  <img class="is-rounded"
                       src="https://bulma.io/assets/images/placeholders/48x48.png"
                       data-th-src="@{/img/instructor_jt.jpg}"
                       alt="Instructor John Thompson"
                  />
                </figure>
                <a href="https://twitter.com/serge_a_storms" class="ml-2">John Thompson</a>
              </div>
              <a href="#" class="card-footer-item">$15</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/SpringCoreUltimateThumb.png}"
                    alt="Spring Core Ultimate image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Spring Core Ultimate</p>
              <div class="content">The Ultimate Bundle of my Spring Courses</div>
            </div>

            <footer class="card-footer">
              <a href="#" class="card-footer-item">5 Courses Bundle</a>
              <a href="#" class="card-footer-item">$147</a>
            </footer>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="product.html" data-th-href="@{/product}">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img
                    src="https://bulma.io/assets/images/placeholders/640x320.png"
                    data-th-src="@{/img/ThymeleafThumb.png}"
                    alt="Thymeleaf image banner"
                />
              </figure>
            </div>

            <div class="card-content">
              <p class="title">Thymeleaf</p>
              <div class="content">Rocking out Thymeleaf with Spring</div>
            </div>

            <footer class="card-footer">
              <div class="card-footer-item">
                <figure class="image is-32x32">
                  <img class="is-rounded"
                       src="https://bulma.io/assets/images/placeholders/48x48.png"
                       data-th-src="@{/img/instructor_jt.jpg}"
                       alt="Instructor John Thompson"
                  />
                </figure>
                <a href="https://twitter.com/serge_a_storms" class="ml-2">John Thompson</a>
              </div>
              <a href="#" class="card-footer-item">$15</a>
            </footer>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
