<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title data-th-text="#{page.index.title}">Mastering Thymeleaf with Spring Boot</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        data-th-href="@{/css/bulma.min.css}"
  >
</head>

<body>
<section data-th-replace="~{fragments/layout::hero}"></section>

<main class="section">
  <div class="container">
    <h1 class="title is-1">Spring Framework Guru Courses</h1>

    <div class="columns">
      <!--/* @see https://www.wimdeblauwe.com/blog/2021/09/14/thymeleaf-iteration-and-fragments/ */-->
      <div
          data-th-insert="~{fragments/card-product::card-product(${product})}"
          data-th-each="product, iterator : ${products}"
          data-th-if="${iterator.count gt 0 and iterator.count lt 4}"
          class="column"
      >
      </div>
    </div>

    <div class="columns">
      <div
          data-th-insert="~{fragments/card-product::card-product(${product})}"
          data-th-each="product, iterator : ${products}"
          data-th-if="${iterator.count gt 3 and iterator.count lt 7}"
          class="column"
      >
      </div>
    </div>
  </div>
</main>

<footer data-th-replace="~{fragments/layout::footer}"></footer>
</body>
</html>
