<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mastering Thymeleaf with Spring Boot - Product</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        data-th-href="@{/css/bulma.min.css}"
  >
</head>
<body>

<section data-th-replace="~{fragments/layout::hero}"></section>

<main class="section">
  <div class="container">
    <h1 data-th-text="${product.CourseName}" class="title is-1">Course Name</h1>

    <div class="columns">
      <div class="column">
        <figure class="image">
          <img src="https://bulma.io/assets/images/placeholders/640x360.png"
               data-th-src="@{'/img/' + ${product.imageUrl}}"
               alt="Product image"/>
        </figure>

        <div class="level mt-1 ml-4">
          <div class="level-left">
            <div data-th-each="productCategory : ${product.productCategories}" class="level-item">
              <span data-th-text="${productCategory.category}" class="tag is-link">Course Category</span>
            </div>
          </div>
        </div>

        <div class="level mt-2">
          <div class="level-left">
            <div class="level-item pl-4">
              <figure class="image">
                <img class="is-rounded"
                     src="https://bulma.io/assets/images/placeholders/48x48.png"
                     data-th-src="@{'/img/' + ${product.author.image}}"
                     alt="Instructor John Thompson"
                />
              </figure>

            </div>
            <div data-th-text="${product.author.firstName + ' ' + product.author.lastName}" class="level-item"></div>
          </div>
          <div class="level-right">
            <div data-th-text="${product.price >0 ? '$' + product.price : 'FREE'}" class="level-item pr-4"></div>
          </div>
        </div>
      </div>

      <div class="column">
        <h2 data-th-text="${product.courseSubtitle}" class="title is-2">Course Title</h2>
        <div class="block">
          <div data-th-utext="${product.description}" class="content">Course Description</div>
        </div>

        <div class="block">
          <button data-th-text="#{page.product.button.buy-now}" class="button is-link is-pulled-right">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</main>

<footer data-th-replace="~{fragments/layout::footer}"></footer>
</body>
</html>