<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mastering Thymeleaf with Spring Boot</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<section class="hero  is-info">
  <div class="hero-body">
    <p class="title">Spring Framework Guru</p>
    <p class="subtitle">Online Courses for Spring Framework</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-1">Spring Framework Guru - Course Name</h1>

    <div class="columns">
      <div class="column">
        <figure class="image is-16by9">
          <img src="https://bulma.io/assets/images/placeholders/640x360.png" alt="Placeholder image"/>
        </figure>
      </div>

      <div class="column">
        <h2 class="title is-2">Course Title</h2>
        <div class="block">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit metus gravida leo congue
              fermentum. Pellentesque orci lorem, blandit vitae ligula sit amet, volutpat sollicitudin mauris. Cras
              vestibulum, libero at lacinia posuere, risus turpis lobortis tellus, id molestie ligula lorem nec enim.
              Donec sem dui, sodales vitae lectus eget, pellentesque bibendum nunc.
            </p>
            <p>
              Phasellus cursus augue a odio volutpat rutrum. Suspendisse tincidunt, ex consectetur laoreet posuere, dui
              purus sagittis metus, nec luctus urna enim vitae leo. Maecenas in bibendum dui. Sed suscipit felis sit
              amet luctus egestas. Mauris at volutpat nisl, pulvinar gravida dui. Morbi cursus orci non tellus facilisis
              ornare. Praesent sed volutpat risus, placerat volutpat risus. Proin et rutrum tortor, sit amet vestibulum
              libero.
            </p>
          </div>
        </div>

        <div class="block">
          <button class="button is-link is-pulled-right">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>